# Ignore hidden files and directories
.*
.DS_Store

# Ignore specific directories
/data_bids_processed/*
/data_bids/*

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
env/
.venv/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled files
*.pyc
*.pyo
*.pyd

# Ignore other common temporary files
*.orig
*.bak
*.swp
*.swo
